.home-grid-container {
    display: grid;
    grid-template-columns: 40px 0.8fr 1.2fr 40px;
    grid-template-rows: 350px;
    grid-template-areas: "gutter_l text image gutter_r";
  }
  
  .home-text { grid-area: text; }
  
  .home-image { grid-area: image; }

  .parallax-container {
      height: 350px;
  }

  @media all and (max-width: 992px) {
      .home-grid-container {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
      }
      .parallax-container {
          height: 33vh;
      }
  }
  @media all and (max-width: 550px) {
      .home-grid-container {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-content: center;
          align-items: center;
      }
  }
