
.home-grid-container {
  display: grid;
  grid-template-columns: 40px 0.8fr 1.2fr 40px;
  grid-template-rows: 40vh;
  grid-template-areas: "gutter_l text image gutter_r";
}
.home-grid-container_2 {
  display: grid;
  grid-template-columns: 40px 1.2fr 0.8fr 40px;
  grid-template-rows: 40vh;
  grid-template-areas: "gutter_l_2 image_2 text_2 gutter_r_2";
}
.home-text {
  grid-area: text;
}
.home-text_2 {
  grid-area: text_2;
}
.home-image {
  grid-area: image;
}
.home-image_2 {
  grid-area: image_2;
}
.home-image,
.home-image_2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.parallax-container {
  .parallax {
    img {
      width: 100vw;
    }
  }
}
.section {
  height: var(--strip-height);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: auto;
}

.smaller {
  transform: scale(.8);
}

@media all and (orientation: "portrait") {
  .logo {
    max-width: 80vw;
    max-height: 40vh;
  }
  .parallax-container {
    height: 30vh;
  }
}

@media all and (orientation: "landscape") {
  .logo {
    max-height: 60vh;
    max-width: 60vw;
  }
  .parallax-container {
    height: 50vh;
  }
}

@media all and (max-width: 992px) {
  .home-grid-container,
  .home-grid-container_2 {
    display: flex;
    flex-flow: column-reverse;
  }
  .section {
    height: fit-content;
    div {
      div {
        h2 {
          text-align: center;
        }
      }
    }
  }
}
