#contact{
    background-image: url('../../images/parallax_images/code/code.jpg');
    background-size: cover;
    background-color: var(--grey);
    margin: 0px;
    height: 100vh;
}

input {
    border-radius: 5px !important;
    color: whitesmoke;
}

.select-dropdown, textarea {
    color: whitesmoke;
}

label {
    color: whitesmoke !important;
}

@media all and (min-width: 1920px) and (max-width: 3839px)  {
    #contact {
        background-image: url('../../images/parallax_images/code/code_3840.jpg');
    }
}
@media all and (min-width: 1024px) and (max-width: 1919px)  {
    #contact {
        background-image: url('../../images/parallax_images/code/code_1920.jpg');
    }
}
@media all and (min-width: 512px) and (max-width: 1023px)  {
    #contact {
        background-image: url('../../images/parallax_images/code/code_1024.jpg');
    }
}
@media all and (max-width: 511px)  {
    #contact {
        background-image: url('../../images/parallax_images/code/code_512.jpg');
    }
}