#contact{
    background-image: url('../../images/pen/pen.jpg');
    background-size: 100vh;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0px;
    padding: 60px 0;
}

input, textarea {
    border-radius: 5px !important;
    color: whitesmoke;
}

.select-dropdown, textarea {
    color: whitesmoke;
}

label {
    color: whitesmoke !important;
}

// @media all and (min-width: 1920px) and (max-width: 3839px)  {
//     #contact {
//         background-image: url('../../images/pen/pen_3840.jpg');
//     }
// }
// @media all and (min-width: 1024px) and (max-width: 1919px)  {
//     #contact {
//         background-image: url('../../images/pen/pen_1920.jpg');
//     }
// }
// @media all and (min-width: 512px) and (max-width: 1023px)  {
//     #contact {
//         background-image: url('../../images/pen/pen_1024.jpg');
//     }
// }
// @media all and (max-width: 511px)  {
//     #contact {
//         background-image: url('../../images/pen/pen_512.jpg');
//     }
// }