#footer {
  min-height: 110px;
  max-height: 15vh;
}
.footer-grid-container {
    background-color: #424242;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footer-gutter_left footer-center footer-gutter_right";
}

.footer-gutter_left {
  grid-area: footer-gutter_left;
}

.footer-gutter_right {
  grid-area: footer-gutter_right;
}

.footer-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  grid-template-areas: "footer-center_top" "footer-center_main" "footer-center_bottom";
  grid-area: footer-center;
}

.footer-center_bottom {
  grid-area: footer-center_bottom;
}

.footer-center_top {
  grid-area: footer-center_top;
}

.footer-center_main {
  grid-area: footer-center_main;
}
