@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

:root {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --header-font: 'Ubuntu', sans-serif;
    --grey: #424242;
}

body {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

h1 {
    font-size: 24px !important;
}
h2 {
    font-size: 22px !important;
}
h3 { 
    font-size: 20px !important;
}
h4 {
    font-size: 18px !important;
}
h5 {
    font-size: 16px !important;
}
h6 {
    font-size: 14px !important;
}

footer {
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: auto;
}